body {
  background-color: #080808;
  color: $white;
  font-family: 'Kanit', sans-serif;
  font-size: $base-font-size;
  font-weight: 100;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato', sans-serif;
}

a {
  font-family: 'Kanit', sans-serif;
}

